<% if @agent.memory['oauth2_token'].present? %>
  Agent has been authorized for the following scopes:
  <ul>
  <% @agent.memory['oauth2_token']['scope'].split(' ').each do |scope| %>
    <li><%=scope%></li>
  <% end %>
  </ul>
<% else %>
  Please complete OAUTH2, specify the following callback URL in your Personal Fitbit app
<pre><%= @agent.oauth2_callback_url %></pre>
  and then click
  <a href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=<%=@agent.options[:oauth2_client]%>&redirect_uri=<%=@agent.oauth2_callback_url%>&scope=<%=@agent.options[:scope]%>&prompt=login%20consent">this link</a>
  click this link to authorize it to fetch data for your account.
<% end %>
